[Desktop Entry]
Version=1.0
Name=PulseAudio Equaliser
GenericName=Equaliser
Comment=Equalise Sound  
Exec=bash ~/projects/bazLinux/lubuntu-19.10/source/launchEqualiser.sh
Icon=multimedia-volume-control
StartupNotify=true
Type=Application
Categories=AudioVideo;Audio;Mixer;Qt;