[Desktop Entry]
Version=1.0
Comment=Fix multimedia buttons
GenericName=xmodmap-mod
Name=xmodmap-mod
Terminal=false
Type=Application
Exec=bash -c "exec xmodmap ~/projects/bazLinux/lubuntu19.10/lxqt-Mod/xmodmap-baz"
