[Desktop Entry]
Version=1.0
Name=dropbox
GenericName=dropbox
Comment=Sync your files
Exec=/home/pyabzz/.dropbox-dist/dropboxd
Terminal=false
Type=Application

